### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
x = tuple([i for i in range(1, 11)])
print(f"Tuple : {x}")

Tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
print(f"First Element : {x[0]} \nMiddle Elements : {x[1:-1]} \nLast Element : {x[-1]}")

First Element : 1
Middle Elements : (2, 3, 4, 5, 6, 7, 8, 9)
Last Element : 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(f"First 3 Elements : {x[:3]} \nLast 3 Elements : {x[-3:]} \nIndex 2 to 5 Elements : {x[2:6]}")

First 3 Elements : (1, 2, 3)
Last 3 Elements : (8, 9, 10)
Index 2 to 5 Elements : (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
x = ((1,2,3), (4,5,6), (7,8,9))
print("Matrix :")
for i in x:
    print(i)
print(f"\nElement a 2nd row and 3rd column : {x[1][2]}")

Matrix :
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

Element a 2nd row and 3rd column : 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [5]:
x, y = (1,2,3), (4,5,6)
print(f"Concatinated Tuples : {x+y}")

Concatinated Tuples : (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [6]:
x = (5,9,0,1,4,7,3,1,5,9,2,3,9)
print(f"Occurrences of 9 : {x.count(9)}")
print(f"Index of first Occurrence of 1 : {x.index(1)}")

Occurrences of 9 : 3
Index of first Occurrence of 1 : 3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
x = (1,2,3,4,5)
a,b,c,d,e = x
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [8]:
x = [1,2,3,4,5]
print(f"Tuple : {tuple(x)}")

Tuple : (1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [9]:
x = ((1,2,3), (4,5,6), (7,8,9))
print("Tuple of Tuples :")
for i in x:
    print(i)

Tuple of Tuples :
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [10]:
x = (1,2,3,4,5)
y = list(x)
y.append(6)
print(f"Tuple : {tuple(y)}")

Tuple : (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [11]:
x = ("S", "a", "i")
res = ""
for i in x:
    res += i
print(f"String : {res}")

String : Sai

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [12]:
x = {(1,2) : 3,
     (4,5) : 6,
     (7,8) : 9}
print(f"Tuple Dictionary : {x}")

Tuple Dictionary : {(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [13]:
x = ((1,2,3), (4,5,6), (7,8,9))
for i in x:
    for j in i:
        print(j, end = " ")

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [14]:
x = (5,9,0,1,4,7,3,1,5,9,2,3,9)
print(f"Result : {set(x)}")

Result : {0, 1, 2, 3, 4, 5, 7, 9}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [15]:
x = (5,9,0,1,4,7,3,1,5,9,2,3,9)

def minimum(x):
    return min(x)

def maximum(x):
    return max(x)

def sum_of_elements(x):
    return sum(x)

print(f"Minimun : {minimum(x)} \nMaximum : {maximum(x)} \nSum : {sum_of_elements(x)}")

Minimun : 0
Maximum : 9
Sum : 58