### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
x = set(i for i in range(1,11))
print(f"x : {x}")

x : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
x.add(11)
x.remove(1)
print(f"x: {x}")

x: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
x = {1,2,3,4,5}
y = {2,4,6,8,10}

print(f"Unioun : {x.union(y)}")
print(f"Intersection : {x.intersection(y)}")
print(f"Difference : {x.difference(y)}")
print(f"Symmetric Difference : {x.symmetric_difference(y)}")

<class 'set'>
Unioun : {1, 2, 3, 4, 5, 6, 8, 10}
Intersection : {2, 4}
Difference : {1, 3, 5}
Symmetric Difference : {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [4]:
x = set(i**2 for i in range(1,11))
print(x)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [5]:
x = set(i for i in range(1,11))
y = set(i for i in x if i%2 == 0)
print(f"New Set : {y}")

New Set : {2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
x = {5,0,7,3,6,1,8,3,7,9,2,5,2,0}
x

{0, 1, 2, 3, 5, 6, 7, 8, 9}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [7]:
x = {1,2,3,4,5}
y = {1,2,3}

print(f"Subset : {y.issubset(x)} \nSuperset : {x.issuperset(y)}")

Subset : True
Superset : True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.
* It is similar to tuple, the elements can't be changed or modified.

In [16]:
x = {1,2,3,4,5}
print(frozenset(x))

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [11]:
x = {1,2,3,4,5}
x = list(x)
x.append(6)
x = set(x)
print(x)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [15]:
x = {frozenset({1,2}) : 3,
     frozenset({4,5}) : 6,
     frozenset({7,8}) : 9}
print(x)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [19]:
x = {i for i in range(1,11)}
for i in x:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [35]:
x = {i for i in range(1,10)}

def rem_ele(x):
    if len(x) == 0:
        return
    else:
        print(x)
        x.pop()
        rem_ele(x)

rem_ele(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}
{6, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}

In [33]:
x = {i for i in range(1,10)}

while x:
    x.pop()
    print(x)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}
{6, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [36]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [37]:
x = {1,2,3,4,5}
print(3 in x)
print(8 in x)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [38]:
x = {(1,2), (2,3), (3,4)}
x

{(1, 2), (2, 3), (3, 4)}